* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background: #222;
}

.hero-header {
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  margin-bottom: 70px;
}

.wrapper {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo i {
  height: 35px;
  width: 35px;
  background-color: #007ced;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
}

.logo .logo-text {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

nav .togglebtn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  display: none;
}

nav .togglebtn span {
  display: block;
  background-color: #007ced;
  margin: 5px 0px;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}

nav .navlinks {
  list-style-type: none;
}

nav .navlinks li {
  display: inline-block;
}

nav .navlinks li a {
  color: #e5e5e5;
  margin-right: 2.5rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
}

.container .hero-pic {
  width: 300px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #444;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.hero-pic img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.hero-pic img:hover {
  transform: scale(1.2);
}

.hero-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.hero-text h5 {
  color: #e5e5e5;
  font-size: 14px;
}

.hero-text h5 span {
  color: #007ced;
  font-size: 16px;
}

.hero-text h1 {
  color: #007ced;
  font-size: 3rem;
  margin-bottom: 16px;
}

.hero-text p {
  color: #e5e5e5;
  line-height: 1.6rem;
}

.btn-group {
  margin: 45px 0;
}

.btn-group .btn {
  border-color: #d5d5d5;
  color: #fff;
  background-color: #333;
  padding: 12px 25px;
  margin: 5px 0px;
  margin-right: 7px;
  border-radius: 30px;
  border: 2px solid #e5e5e5;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn.active {
  border-color: #007ced;
}

.hero-text .social i {
  color: #e5e5e5;
  font-size: 25px;
  margin-right: 10px;
  transition: 0.5s;
  margin-bottom: 20px;
}

.hero-text .social i:hover {
  color: #007ced;
  transform: rotate(360deg);
}

/* General styles for experience and projects section */
.experience-section {
  background-color: #222;
  color: #e0e0e0;
  padding: 2rem 1rem;
}

.experience-section .wrapper {
  /* max-width: 800px; */
}

.experience-section h2 {
  text-align: center;
  color: #007ced;
  border-bottom: 2px solid #007ced;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.experience-item,
.project-item,
.achievement-item {
  background: #292929;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
  gap: 40px;
}

.experience-item h3,
.project-item h3,
.achievement-item h3 {
  color: #007ced;
  margin-bottom: 0.5rem;
}

.experience-item h3 {
  text-align: center;
}

.experience-item a {
  color: #007ced;
  text-decoration: none;
}

.experience-item a:hover {
  text-decoration: underline;
}

.experience-item p,
.project-item p,
.achievement-item p {
  font-size: 1rem;
  line-height: 1.6;
}

.experience-item p {
  max-width: 750px;
}

.project-item a,
.achievement-item a {
  display: block;
  margin-right: 1rem;
  flex-shrink: 0;
}

.project-item img,
.achievement-item img {
  max-width: 200px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-item img:hover {
  transform: scale(1.05);
}

.achievement-item img:hover {
  transform: scale(1.05);
}

.project-info,
.achievement-info {
  flex-grow: 1;
}

.project-info h3,
.achievement-info h3 {
  margin-top: 0;
}

.project-info p,
.achievement-info p {
  margin-top: 0.5rem;
}

/* Respnosiv design & displaying navbar for small screen */
@media (max-width: 930px) {
  nav .togglebtn {
    display: initial;
  }

  /* for toggle button**/
  .click {
    top: 45px;
  }

  .click span {
    position: absolute;
    margin-top: 12px;
  }

  .click span:first-child {
    transform: rotate(-40deg);
  }

  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }

  .click span:last-child {
    transform: rotate(45deg);
    top: 0;
  }

  nav .navlinks {
    position: absolute;
    top: 110px;
    right: -100%;
    bottom: 0;
    width: 60%;
    height: 100vh;
    background-color: #222;
    z-index: 3;
    box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    padding: 25px 0px;
    display: none;
    opacity: 0;
  }

  nav .navlinks li {
    display: block;
    /* text-align: left; */
    font-size: 18px;
  }

  nav .navlinks li a {
    display: block;
    margin-bottom: 15px;
    /* text-align: center; */
    padding-left: 25px;
  }

  nav .navlinks.open {
    right: 0;
    display: block;
    opacity: 100;
    transition: 0.5s;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 2rem;
  }

  .hero-text {
    padding: 0;
  }

  .experience-item,
  .project-item,
  .achievement-item {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  .experience-item .timeline,
  .experience-item p,
  .project-info h3,
  .project-info p,
  .achievement-item h3,
  .achievement-item p {
    text-align: center;
  }

  .hero-header {
    margin-bottom: 0;
  }

  .social {
    /* display: flex;
        justify-content: center;
        gap: 20px; */
    margin-bottom: 10px;
  }

  .hero-text .social i {
    font-size: 25px;
  }

  .btn-group {
    display: flex;
    margin: 20px 0;
  }

  .btn-group a {
    width: 100%;
    text-align: center;
  }

  .hero-text h5 {
    font-size: 20px;
    margin-top: 20px;
  }

  .hero-text h5 span {
    font-size: 20px !important;
  }
}
